.Layouts {
  margin: 0 auto;
  text-align: left;
  .header {
    text-align: left;
  }
  .ant-layout-header {
    padding: 0;
  }
  .layout {
    padding: 66px 10px 10px 10px;
    width: 1200px;
    margin: 0 auto;
    background: #fff;
  }
}
.logo {
  img {
    height: 55px;
    border-radius: 50%;
  }
}
.header {
  text-align: left;
}
